body{
  background-color: rgb(36, 36, 36);
}

.{
  font-family: 'Courier New', Courier, monospace;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .10s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 0.3s;

}

.slide-fade-leave-active {
  transition: all 0.3s;

}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-4rem);

}